@import url(advance.css);
@import url(range-input.css);
@import url(switch-input.css);

#home .block-title {
    margin: 8px 0;
    color: rgb(180, 180, 180);
    font-size: 26px;
}

#home hr {
    background: none;
    margin: 8px 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    border-width: 50%;
}
#home .block {
    flex: 1;
    margin: 0 12px;
    padding: 0;
}
#home .mode {
    display: flex;
    height: 32px;
    justify-items: center;
    margin: 0 0 8px 0;
}
#home .mode .button {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    justify-items: center;
    align-items: center;
    color: rgb(62, 62, 62);
    background-color: transparent;
    height: 32px;
    width: 135px;
    margin: 0;
    transition: border-color 0.5s, color 0.5s;
    cursor: pointer;
}
#home .mode .button:hover {
    border-color: rgb(254, 78, 69);
    color: rgb(254, 78, 69);
}
#home .mode .button:nth-of-type(1) {
    border-radius: 5px 0 0 5px;
}
#home .mode .button:nth-of-type(3) {
    border-radius: 0 5px 5px 0;
}

#home .block .mode-block {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    border-radius: 10px;
    margin: 8px 0;
    padding: 0 12px;
}

#home .block .mode-block hr {
    background: none;
    margin: 2px 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    border-width: 50%;
}

#home .block .mode-block .option-name_1 {
    flex: none;
    color: rgb(180, 180, 180);
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    padding-right: 24px;
}

#home .block .mode-block .mode-content {
    padding: 0 0 8px 0;
}
#home .block .mode-block .mode-content .mode-title {
    margin: 0;
    padding: 8px 0 4px 0;
    color: rgb(180, 180, 180);
    font-size: 22px;
}
#home .block .mode-block .mode-content .mode-remark {
    margin: 0;
    padding: 2px;
    color: rgb(180, 180, 180);
    font-size: 13px;
}
#home .block .mode-block .mode-content .option {
    display: flex;
    margin: 0;
    padding: 4px 0;
    align-items: center;
    justify-items: center;
    color: rgb(180, 180, 180);
    --option-color: rgb(180, 180, 180);
    transition: color 0.5s, transform 0.3s;
    transform: scale(1);
}
#home .block .mode-block .mode-content .option:hover {
    color: rgb(254, 78, 69);
    --option-color: rgb(254, 78, 69);
    transform: scale(1.05);
}
#home .block .mode-block .mode-content .option .option-name {
    flex: 9;
    margin: 0;
    font-size: 16px;
}
#home .block .mode-block .mode-content .option .option-value {
    flex: 3;
    margin: 0;
    font-size: 16px;
    text-align: right;
}
#home .block .mode-block .mode-content .option .option-unit {
    flex: 17;
    margin: 0 0 0 8px;
    font-size: 16px;
    text-align: left;
}

#home .block .mode-block .mode-content .option .text-input {
    color: rgb(180, 180, 180);
    align-self: flex-end;
    width: 120px;
    border: none;
    appearance: none;
    outline: none;
    margin: auto 0;
    background-color: rgb(62, 62, 62);
}

#home .block .mode-block .mode-content .option input[type="number"] {
    color: rgb(180, 180, 180);
    align-self: flex-end;
    width: 120px;
    border: none;
    appearance: none;
    outline: none;
    margin: auto 0;
    background-color: rgb(62, 62, 62);
}
#home .block .mode-block .mode-content .option input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}