@import url(global_setting.css);
@import url(home-setting.css);
@import url(side-bar.css);
@import url(top-bar.css);

.flex-display {
    display: flex;
}

.block-display {
    display: block;
}

.not-display {
    display: none;
}

.block {
    flex: 1;
}

a {
    color: rgb(62, 62, 62);
}

#home #camera-stream {
    align-self: center;
    width: 80%;
    max-height: 60%;
    padding: 8px 10% 8px 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    border-radius: 10px;
}
#home #console-output {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 8px 16px;
}
#home #console-content {
    background-color: transparent;
    height: 120px;
    width: 100%;
    color: rgb(180, 180, 180);
    overflow: hidden;
    font-size: 14px;
    border: none;
    outline: none;
}
#home #console-content::-webkit-resizer {
    appearance: none
}
