@import url(global_setting.css);
@import url(home-setting.css);
@import url(range-input.css);

.flex-display {
    display: flex;
}

.block-display {
    display: block;
}

.not-display {
    display: none;
}

a {
    color: rgb(62, 62, 62);
}

#home #advance {
    height: 80vh;
}
#home #advance .mode-content {
    height: inherit;
}
#home #advance .mode-content .option {
    transform: none;
}
#home #advance .mode-content .option .option-name {
    flex: none;
    color: rgb(180, 180, 180);
    width: 300px;
    margin: 0;
    font-size: 16px;
}
.switch-input {
    appearance: none;
    outline: none;
    background: none;
    width: 35px;
    align-self: flex-start;
}
.switch-input::-webkit-slider-runnable-track {
    appearance: none;
    background-color: rgb(62, 62, 62);
    border-radius: 10px;
    width: 35px;
}
.switch-input::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--option-color);
    border-radius:50%;
    transition: transform 0.5s, background-color 0.5s;
    cursor: pointer;
    transform: scale(0.6);
}
.switch-input::-webkit-slider-thumb:hover {
    transform: scale(0.8);
}
#home #advance #monaco {
    height: 60%;
}

#home #camera-stream {
    align-self: center;
    width: 80%;
    padding: 8px 10% 8px 10%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(62, 62, 62);
    border-radius: 10px;
}
