<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="icon" href="../static/img/favicon.ico">
        <link rel="stylesheet" href="../static/css/index.css" loading="lazy">
        <script src="../static/js/monaco-editor/min/vs/loader.js" loading="lazy"></script>
        <script src="../static/js/include-html.js" loading="lazy"></script>
        <script src="../static/js/index.js" loading="lazy"></script>
        <script src="../static/js/switch-input.js" loading="lazy"></script>
        <title>JellyFishLight</title>
    </head>
    <body onhashchange="hash_href()">
        <div id="side-bar" include-html="side-bar.html"></div>
        <div id="top-bar" include-html="top-bar.html"></div>
        <div id="home" class="index flex-display">
            <div class="block">
                <div class="mode">
                    <button id="global-button" class="button" onclick="location.href='#global'">全域設置 (Global)</button>
                    <button id="basic-button" class="button" onclick="location.href='#basic'">基礎設置 (Basic)</button>
                    <button id="advance-button" class="button" onclick="location.href='#advance'">進階設置 (Advance)</button>
                </div>
                <div id="global" class="mode-block">
                    <div id="preprocessing" class="mode-content">
                        <p class="cfont mode-title">影像前處理 (Image Preprocessing)</p>
                        <div class="option">
                            <p class="option-name cfont">亮度 (Brightness)</p>
                            <input id="brightness" class="range-input" type="range" min="-255" max="255" step="0.1" value="0" oninput="slider_change(this, '', '%', 100)" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0%</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">飽和度 (Saturation)</p>
                            <input id="saturation" class="range-input" type="range" min="-255" max="255" step="0.1" value="0" oninput="slider_change(this, '', '%', 100)" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0%</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">對比度 (Contrast)</p>
                            <input id="contrast" class="range-input" type="range" min="-255" max="255" step="0.1" value="0" oninput="slider_change(this, '', '%', 100)" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0%</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">藍平衡 (Blue Blance)</p>
                            <input id="blue-blance" class="range-input" type="range" min="-255" max="255" step="0.1" value="0" oninput="slider_change(this, '', '%', 100)" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0%</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">紅平衡 (Red Blance)</p>
                            <input id="red-blance" class="range-input" type="range" min="-255" max="255" step="0.1" value="0" oninput="slider_change(this, '', '%', 100)" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0%</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">高光修正 (Reduce Highlight)</p>
                            <input id="reduce-highlight" class="range-input" type="range" min="0" max="255" step="0.05" value="0" oninput="slider_change(this, '', '%', 100)" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0%</p>
                        </div>
                    </div>
                    <hr>
                    <div id="camera" class="mode-content">
                        <p class="cfont mode-title">相機設定 (Camera Setting)</p>
                        <p class="cfont mode-remark">
                            本項設定中部分需要相機硬體支持，詳細請參考<a href="https://docs.opencv.org/3.4/d4/d15/group__videoio__flags__base.html#gaeb8dd9c89c10a5c63c139bf7c4f5704d" target="_blank">OpenCV說明</a>。<br>
                            (Part of these settings require camera hardware support, please refer to the <a href="https://docs.opencv.org/3.4/d4/d15/group__videoio__flags__base.html#gaeb8dd9c89c10a5c63c139bf7c4f5704d" target="_blank">OpenCV reference</a> for details.)
                        </p>
                        <div class="option">
                            <p class="option-name cfont">畫面寬度 (Frame Width)</p>
                            <input id="camera-width" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">像素 (px)</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">畫面高度 (Frame Height)</p>
                            <input id="camera-height" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">像素 (px)</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">影格率 (Frame Rate)</p>
                            <input id="camera-fps" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">張/秒 (Frames Per Second)</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">亮度 (Brightness)</p>
                            <input id="camera-brightness" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">N/A</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">對比度 (Contrast)</p>
                            <input id="camera-contrast" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">N/A</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">飽和度 (Saturation)</p>
                            <input id="camera-saturation" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">N/A</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">色調 (Hue)</p>
                            <input id="camera-hue" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">N/A</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">增益 (Gain)</p>
                            <input id="camera-gain" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">N/A</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">曝光 (Exposure)</p>
                            <input id="camera-exposure" class="cfont" type="number" min="0">
                            <p class="option-unit cfont">N/A</p>
                        </div>
                    </div>
                </div>
                <div id="basic" class="mode-block not-display">
                    <div id="detection" class="mode-content">
                        <p class="cfont mode-title">辨識設定 (Detection Setting)</p>
                        <div class="option">
                            <p class="option-name cfont">色彩空間 (Color Space)</p>
                            <input id="detection-width" class="text-input" placeholder="ex:RGB, HSV">
                            <p class="option-unit cfont"></p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">頻道1 (Color Channel 1)</p>
                            <input id="detection-channel-1" class="range-input" type="range" min="0" max="255" step="1" value="0" oninput="slider_change(this, '', '')" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">頻道2 (Color Channel 2)</p>
                            <input id="detection-channel-2" class="range-input" type="range" min="0" max="255" step="1" value="0" oninput="slider_change(this, '', '')" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0</p>
                        </div>
                        <div class="option">
                            <p class="option-name cfont">頻道3 (Color Channel 3)</p>
                            <input id="detection-channel-3" class="range-input" type="range" min="0" max="255" step="1" value="0" oninput="slider_change(this, '', '')" ondblclick="slider_reset(this, 0)">
                            <p class="option-value cfont">0</p>
                        </div>
                    </div>
                </div>
                <div id="advance" class="not-display mode-block">
                    <div id="code" class="mode-content">
                        <p class="cfont mode-title">程式區塊 (Coding Block)</p>
                        <div class="option">
                            <p class="option-name cfont">啟用程式區塊 (Enable Coding Block)</p>
                            <input id="enable-code" class="switch-input" type="range" min="0" max="1" step="1" value="0" onclick="switch_input(this)">
                        </div>
                        <p class="cfont mode-remark">
                            啟用此項設定後將停用基礎設定中的辨識設定。<br>
                            (Enabling this setting will disable the detecttion settings in the basic settings.)
                        </p>
                        <div id="monaco"></div>
                        <div class="option">
                            <button id="save-code" class="cfont">保存 (Save)</button>
                            <button id="reset-code" class="cfont">重置 (Reset)</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="block">
                <p class="cfont block-title">輸出畫面 (Ouput Screen)</p>
                <img id="camera-stream">
                <p class="cfont block-title">終端機輸出 (Console Ouput)</p>
                <div id="console-output">
                    <textarea id="console-content" class="cfont" disabled></textarea>
                </div>
            </div>
        </div>
        <div id="settings" class="index flex-display not-display">
            <div class="block">

            </div>
        </div>
    </body>
    <script>on_load()</script>
</html>