<span class="side-background"></span>
<div class="side-bar-empty"></div>
<button class="side-bar-option" onclick="location.href='#home'">
    <span onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)"
    class="material-icons side-icon">
        <p>home</p>
    </span>
    <span class="side-label"
    onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)">
        <p class="font">Home</p>
    </span>
</button>
<button class="side-bar-option" onclick="location.href='#settings'">
    <span onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)"
    class="material-icons side-icon">
        <p>settings</p>
    </span>
    <span class="side-label"
    onmouseover="side_bar_on_hover(this)"
    onmouseout="side_bar_on_not_hover(this)">
        <p class="font">Settings</p>
    </span>
</button>
<div class="side-bar-empty"></div>