<span class="side-background"></span>
<div class="side-bar-empty"></div>
<button class="side-bar-option" onclick="location.href='#home'">
    <span class="material-icons side-icon">
        <p>home</p>
    </span>
    <span class="side-label">
        <p class="cfont">主頁 (Home)</p>
    </span>
</button>
<button class="side-bar-option" onclick="location.href='#settings'">
    <span class="material-icons side-icon">
        <p>settings</p>
    </span>
    <span class="side-label">
        <p class="cfont">設定 (Settings)</p>
    </span>
</button>
<div class="side-bar-empty"></div>